/* 
	Required Styles
*/
#aToolTip {
	position: absolute;
	display: none;
	z-index: 50000;
}

#aToolTip .aToolTipContent {
	position:relative;
	margin:0;
	padding:0;
}
/* 
	END: Required Styles
*/
/**
	Default Theme
*/
.defaultTheme {
	border:2px solid #444;
	background:#fff;
	margin:0 0 0 -280px;
	padding:18px 24px;
	width:500px;	
	
	-moz-border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	-khtml-border-radius: 12px 12px 12px 12px;
	border-radius: 12px 12px 12px 12px;
	
	-moz-box-shadow: 2px 2px 8px #111; /* for Firefox 3.5+ */
	-webkit-box-shadow: 2px 2px 8px #111; /* for Safari and Chrome */
	box-shadow: 2px 2px 8px #111; /* for Safari and Chrome */
}

.defaultTheme #aToolTipCloseBtn {
	display:block;
	height:38px;
	width:38px;
	background:url(../images/Button-Close-icon.png) no-repeat;
	background-size:44px 44px;
	text-indent:-9999px;
	outline:none;
	position:absolute;
	top:-40px;
	right:-50px;
	margin:2px;
	padding:4px;
}