@charset "UTF-8";
/* CSS Document */

.gwd-page-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.gwd-page-content {
  background-color: transparent;
  -webkit-transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform-style: preserve-3d;
  position: absolute;
}

.gwd-page-wrapper {
  background-color: rgb(255, 255, 255);
  position: absolute;
  -webkit-transform: translateZ(0px);
}

.gwd-page-size {
  width: 768px;
  height: 1024px;
}

.gwd-img-lbnl {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  top: 0px;
  left: 0px;
  width: 768px;
  height: 1024px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  color: rgb(0, 0, 0);
}

.gwd-gen-qexx .gwd-gen-krn8gwdanimation {
  -webkit-animation: gwd-gen-krn8gwdanimation_gwd-keyframes 22.2s linear 2.5s infinite forwards;
}

.gwd-img-hsin {
  position: absolute;
  top: 209px;
  left: 147px;
  width: 491px;
  height: 802px;
  opacity: 1;
}

.gwd-gen-qexx .gwd-gen-793fgwdanimation {
  -webkit-animation: gwd-gen-793fgwdanimation_gwd-keyframes 22.2s linear 2.5s infinite forwards;
}

.gwd-canvas-7uno {
  position: absolute;
  -webkit-transform-style: preserve-3d;
  top: 244px;
  left: 210px;
  width: 358px;
  height: 753px;
  opacity: 1;
}

.gwd-gen-qexx .gwd-gen-zdeggwdanimation {
  -webkit-animation: gwd-gen-zdeggwdanimation_gwd-keyframes 22.2s linear 2.5s infinite forwards;
}

@-webkit-keyframes gwd-gen-793fgwdanimation_gwd-keyframes {
  0% { top: 208.785714285401px; left: 147px; width: 491px; height: 802px; opacity: 1; -webkit-animation-timing-function: ease-in; }
  5.40541% { top: 209px; left: 147px; width: 491px; height: 802px; opacity: 0; -webkit-animation-timing-function: linear; }
  70.2703% { top: 209px; left: 147px; width: 491px; height: 802px; opacity: 0; -webkit-animation-timing-function: linear; }
  74.3243% { top: 209px; left: 147px; width: 491px; height: 802px; opacity: 1; -webkit-animation-timing-function: linear; }
  100% { top: 209px; left: 147px; width: 491px; height: 802px; opacity: 1; -webkit-animation-timing-function: linear; }
}
@-webkit-keyframes gwd-gen-zdeggwdanimation_gwd-keyframes {
  0% { top: 247.9285714286px; left: 214.2857142858px; width: 350px; height: 736px; opacity: 1; -webkit-animation-timing-function: linear; }
  12.6126% { top: 228.9285714286px; left: 214.2857142858px; width: 350px; height: 736px; opacity: 0; -webkit-animation-timing-function: linear; }
  67.1171% { top: 228.9285714286px; left: 210px; width: 358px; height: 753px; opacity: 0; -webkit-animation-timing-function: linear; }
  74.3243% { top: 244px; left: 210px; width: 358px; height: 753px; opacity: 1; -webkit-animation-timing-function: linear; }
  100% { top: 244px; left: 210px; width: 358px; height: 753px; opacity: 1; -webkit-animation-timing-function: linear; }
}
@-webkit-keyframes gwd-gen-krn8gwdanimation_gwd-keyframes {
  0% { top: 0px; left: 0px; width: 768px; height: 1024px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); color: rgb(0, 0, 0); -webkit-animation-timing-function: ease-in-out; }
  36.036% { top: -70px; left: -40px; width: 850px; height: 1133px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); color: rgb(0, 0, 0); -webkit-animation-timing-function: linear; }
  44.5946% { top: -70px; left: -40px; width: 850px; height: 1133px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); color: rgb(0, 0, 0); -webkit-animation-timing-function: ease-in; }
  74.3243% { top: 0px; left: 0px; width: 768px; height: 1024px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); color: rgb(0, 0, 0); -webkit-animation-timing-function: linear; }
  100% { top: 0px; left: 0px; width: 768px; height: 1024px; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); color: rgb(0, 0, 0); -webkit-animation-timing-function: linear; }
}
.gwd-gen-krn8gwdanimation-gen-animation0keyframe {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 1024px;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  color: rgb(0, 0, 0);
}

.gwd-gen-793fgwdanimation-gen-animation0keyframe {
  top: 208.785714285401px;
  left: 147px;
  width: 491px;
  height: 802px;
  opacity: 1;
}

.gwd-gen-zdeggwdanimation-gen-animation0keyframe {
  top: 247.9285714286px;
  left: 214.2857142858px;
  width: 350px;
  height: 736px;
  opacity: 1;
}