@charset "UTF-8";
/* CSS Document */

.hsc {
	width:100%;
	margin:16px auto 0px auto;
	text-align:center;
	z-index:12;
	position:absolute;
	}
.line-3 {
  font-family: 'bebasregular';
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  margin: 70px 0 0;
  position: relative;
  letter-spacing: 6px;
  color:#DECEC5;
}
.line-3:before, .line-3:after {
  content: " ";
  position: absolute;
  width: 50px;
  height: 5px;
  border-top: 1px solid #DECEC5;
  border-bottom: 1px solid #DECEC5;
}
.line-3:before {
  margin: 7px 0 0 -60px;
}
.line-3:after {
  margin: 7px 0 0 10px;
}