
body {
	background-image: url(../images/lightpaperfibers.png);
	background-repeat: repeat;
}

p{
	font-size: 25px;
	line-height: 1.3em;
	padding: 50px;
	padding-bottom: 10px;
	padding-top: 10px;

}
.content {
	width: 90%;
	margin-top: 80px;
}

.word1{

}

.front-cover-img{
	/*	height:55%;
	width:55%;*/
	height:100%;
	width:100%;
}

img.centre {
	display: block;
	margin-left: auto;
	margin-right: auto;
/*	padding-top: 10px;
	padding-bottom: 10px;*/
/*	height: 350px;
	width: 800px;*/
  	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
}

img.pull-right{
	float: right;
}

img.banner{
	height:200px;
	width:650px;
}

img#hitler-tv{
	height: 250px;
	width: 260px;
	padding-top: 20px;
}

.black-background{
	background-color: black;
}

.page_number{
	float: right;
	font-size: 25px;
	/*padding-right: 10px;*/
	padding-top: 20px;
	position:absolute;
  	bottom:0;
  	/*width:100%;
    height:60px; */  
    right: 40px;
}

/* Start TYPOGRAPHY STYLES */

/* End TYPOGRAPHY STYLES */


/*START Time Line Styles*/

/*END Time Line Styles*/

/*START ribbon styles */

/* ribbon style */

.ribbon-main-title .ribbon-content {
	/*font-family: 'Gabriela', serif;*/
	/*font-family: 'Diplomata SC', cursive;*/
	font-family: 'DiplomataSC', cursive;
	color: #EFFFAE;
	padding-right: 15px;
	text-shadow: 0px 1px 2px #bbb;

}


.ribbon-main-title {
	left:-50px;
	top:200px;
	font-size: 22px !important;
	/* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

	width: 110%;

	position: relative;
	background: #DF2F2F;
	color: #fff;
	text-align: center;
	padding: 1em 2em; /* Adjust to suit */
	margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
	-webkit-transform: rotate(-10deg); 
	-moz-transform: rotate(-10deg); 
	-ms-transform: rotate(-10deg); 
	-o-transform: rotate(-10deg); 
	transform: rotate(-10deg);
	text-shadow: 0px 1px 2px #bbb;
	-webkit-box-shadow: 0px 2px 4px #888;
	-moz-box-shadow: 0px 2px 4px #888;
	box-shadow: 0px 2px 4px #888;
}

.front-cover h2
{
	top:600px;
	float: right;
	position: relative;
	left:30px;
	width: 350px;
	height: 55px;
	/*font-weight: bold;
	background: #DF2F2F;
	padding: 15px 15px 6px 30px;
	margin: 30px 0px 0px 0px;
	text-shadow: 0px 1px 2px #bbb;*/
	/*-webkit-box-shadow: 0px 2px 4px #888;*/
	/*-moz-box-shadow: 0px 2px 4px #888;*/
	/*box-shadow: 0px 2px 4px #888;*/
	font-family: 'DiplomataSC', cursive;
	color: #EFFFAE;;
	font-size: 22px;
}

.stitched {
	padding: 20px;
	margin: 10px;
	background: #ff0030;
	color: #fff;
	font-size: 21px;
	font-weight: bold;
	line-height: 1.3em;
	border: 2px dashed #fff;
	border-radius: 10px;
	box-shadow: 0 0 0 4px #ff0030, 2px 1px 6px 4px rgba(10, 10, 0, 0.5);
	text-shadow: -1px -1px #aa3030;
	/*font-weight: normal;*/
}

/* END Ribbon Styles*/

@font-face {
	font-family: 'LoversQuarrel-Regular';
	src: url('../fonts/LoversQuarrel-Regular.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

.main-title-text{
	/*font-family: 'Diplomata SC', cursive;*/
	font-family: 'DiplomataSC', cursive;
	color: #EFFFAE;
	padding-right: 15px;
	text-shadow: 0px 1px 2px #bbb;
}
.contents-text h1{
	font-family: 'LoversQuarrel-Regular';
	font-size: 100px;
	padding-top: 20px;
}

.contents-text li *{
	font-family: 'Della Respira', serif;
	font-size: 25px;
}

.black{
	color: black;
}

.centre{
	text-align: center;
}

.chapter-header{
	font-family: 'LoversQuarrel-Regular';
	font-size: 100px;
	padding-top: 150px;
}

.chapter-title{
	font-family: 'LoversQuarrel-Regular';
	font-size: 100px;
	padding-top:100px;
}

a{
	text-decoration:none;
}
/*.left{
	float: left;
	display: block;
	}*/
/*
li{
	float: left;
	width: 220px;
	clear: both;
}
*/
.contents-wrapper{
	display: block;
	text-align: center;
	padding-top: 30px;
}

.contents-wrapper li{
	line-height: 30px;
}

.container{
	padding-top: 20px;
	position:relative;
	height: 1000px;
}

.illustration_wrapper{
	border-style: solid;
	border: black;
	/*border-radius: 5px;*/
	/*width: 500px;*/
	/*height:500px;*/
	
}

/* START Chapter Pages Styles*/


/* END Chapter Pages Styles*/

