@charset "UTF-8";
/* CSS Document */

.gwd-page-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.gwd-page-content {
  background-color: transparent;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -moz-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-perspective: 1400px;
  -moz-perspective: 1400px;
  perspective: 1400px;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
}

.gwd-page-wrapper {
  background-color: rgb(255, 255, 255);
  position: absolute;
  -webkit-transform: translateZ(0px);
  -moz-transform: translateZ(0px);
  transform: translateZ(0px);
}

.gwd-page-size {
  width: 768px;
  height: 1024px;
}

.gwd-img-f35c {
  position: absolute;
  top: -30px;
  left: -8px;
  width: 786px;
  height: 1080px;
}

.gwd-img-wsnp {
  position: absolute;
  top: -30px;
  left: -8px;
  width: 786px;
  height: 1080px;
  opacity: 0;
}

.gwd-gen-xycu .gwd-gen-03cxgwdanimation {
  -webkit-animation: gwd-gen-03cxgwdanimation_gwd-keyframes 10.2s linear 0s 1 forwards;
  -moz-animation: gwd-gen-03cxgwdanimation_gwd-keyframes 10.2s linear 0s 1 forwards;
  animation: gwd-gen-03cxgwdanimation_gwd-keyframes 10.2s linear 0s 1 forwards;
}

.gwd-gen-xycu .gwd-gen-426mgwdanimation {
  -webkit-animation: gwd-gen-426mgwdanimation_gwd-keyframes 10.2s linear 0s 1 forwards;
  -moz-animation: gwd-gen-426mgwdanimation_gwd-keyframes 10.2s linear 0s 1 forwards;
  animation: gwd-gen-426mgwdanimation_gwd-keyframes 10.2s linear 0s 1 forwards;
}

@-webkit-keyframes gwd-gen-426mgwdanimation_gwd-keyframes {
  0% { top: 0px; left: 0px; width: 768px; height: 1055px; -webkit-animation-timing-function: linear; }
  16.6667% { top: 0px; left: 0px; width: 768px; height: 1055px; -webkit-animation-timing-function: ease-in-out; }
  100% { top: -30px; left: -8px; width: 786px; height: 1080px; -webkit-animation-timing-function: linear; }
}
@-moz-keyframes gwd-gen-426mgwdanimation_gwd-keyframes {
  0% { top: 0px; left: 0px; width: 768px; height: 1055px; -moz-animation-timing-function: linear; }
  16.6667% { top: 0px; left: 0px; width: 768px; height: 1055px; -moz-animation-timing-function: ease-in-out; }
  100% { top: -30px; left: -8px; width: 786px; height: 1080px; -moz-animation-timing-function: linear; }
}
@keyframes gwd-gen-426mgwdanimation_gwd-keyframes {
  0% { top: 0px; left: 0px; width: 768px; height: 1055px; animation-timing-function: linear; }
  16.6667% { top: 0px; left: 0px; width: 768px; height: 1055px; animation-timing-function: ease-in-out; }
  100% { top: -30px; left: -8px; width: 786px; height: 1080px; animation-timing-function: linear; }
}
@-webkit-keyframes gwd-gen-03cxgwdanimation_gwd-keyframes {
  0% { top: 0px; left: 0px; width: 768px; height: 1055px; opacity: 1; -webkit-animation-timing-function: linear; }
  16.6667% { top: 0px; left: 0px; width: 768px; height: 1055px; opacity: 1; -webkit-animation-timing-function: ease-in-out; }
  100% { top: -30px; left: -8px; width: 786px; height: 1080px; opacity: 0; -webkit-animation-timing-function: linear; }
}
@-moz-keyframes gwd-gen-03cxgwdanimation_gwd-keyframes {
  0% { top: 0px; left: 0px; width: 768px; height: 1055px; opacity: 1; -moz-animation-timing-function: linear; }
  16.6667% { top: 0px; left: 0px; width: 768px; height: 1055px; opacity: 1; -moz-animation-timing-function: ease-in-out; }
  100% { top: -30px; left: -8px; width: 786px; height: 1080px; opacity: 0; -moz-animation-timing-function: linear; }
}
@keyframes gwd-gen-03cxgwdanimation_gwd-keyframes {
  0% { top: 0px; left: 0px; width: 768px; height: 1055px; opacity: 1; animation-timing-function: linear; }
  16.6667% { top: 0px; left: 0px; width: 768px; height: 1055px; opacity: 1; animation-timing-function: ease-in-out; }
  100% { top: -30px; left: -8px; width: 786px; height: 1080px; opacity: 0; animation-timing-function: linear; }
}
.gwd-gen-03cxgwdanimation-gen-animation0keyframe {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 1055px;
  opacity: 1;
}

.gwd-gen-426mgwdanimation-gen-animation0keyframe {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 1055px;
}