@charset "UTF-8";
/* CSS Document */

.gwd-page-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.gwd-page-content {
  background-color: transparent;
  -webkit-transform: perspective(1400px) matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform-style: preserve-3d;
  position: absolute;
}

.gwd-page-wrapper {
  background-color: rgb(255, 255, 255);
  position: absolute;
  -webkit-transform: translateZ(0px);
}

.gwd-page-size {
  width: 768px;
  height: 1024px;
}

.gwd-img-f35c {
  position: absolute;
  top: 0px;
  left: -12px;
  width: 790px;
  height: 1082px;
}

.gwd-img-wsnp {
  position: absolute;
  top: 0px;
  width: 790px;
  height: 1082px;
  opacity: 0;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform-origin: 420px 550px 0px;
  left: -12px;
}

.gwd-gen-xycu .gwd-gen-03cxgwdanimation {
  -webkit-animation: gwd-gen-03cxgwdanimation_gwd-keyframes 10.2s linear 0s 1 forwards;
}

.gwd-gen-xycu .gwd-gen-426mgwdanimation {
  -webkit-animation: gwd-gen-426mgwdanimation_gwd-keyframes 10.2s linear 0s 1 forwards;
}

@-webkit-keyframes gwd-gen-426mgwdanimation_gwd-keyframes {
  0% { top: 0px; left: 0px; width: 768px; height: 1051px; -webkit-animation-timing-function: linear; }
  16.6667% { top: 0px; left: 0px; width: 768px; height: 1051px; -webkit-animation-timing-function: ease-in-out; }
  100% { top: 0px; left: -12px; width: 790px; height: 1082px; -webkit-animation-timing-function: linear; }
}
@-webkit-keyframes gwd-gen-03cxgwdanimation_gwd-keyframes {
  0% { top: 0px; left: 0px; width: 768px; height: 1051px; opacity: 1; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform-origin: 50% 50% 0px; -webkit-animation-timing-function: linear; }
  16.6667% { top: 0px; left: 0px; width: 768px; height: 1051px; opacity: 1; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform-origin: 50% 50% 0px; -webkit-animation-timing-function: ease-in-out; }
  100% { top: 0px; left: -12px; width: 790px; height: 1082px; opacity: 0; -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); -webkit-transform-origin: 420px 550px 0px; -webkit-animation-timing-function: linear; }
}
.gwd-gen-03cxgwdanimation-gen-animation0keyframe {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 1051px;
  opacity: 1;
  -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  -webkit-transform-origin: 50% 50% 0px;
}

.gwd-gen-426mgwdanimation-gen-animation0keyframe {
  top: 0px;
  left: 0px;
  width: 768px;
  height: 1051px;
}