@font-face {
    font-family: 'pacificoregular';
    src: url('pacifico-webfont.eot');
    src: url('pacifico-webfont.eot?#iefix') format('embedded-opentype'),
         url('pacifico-webfont.woff') format('woff'),
         url('pacifico-webfont.ttf') format('truetype'),
         url('pacifico-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'bebasregular';
    src: url('BEBAS___-webfont.eot');
    src: url('BEBAS___-webfont.eot?#iefix') format('embedded-opentype'),
         url('BEBAS___-webfont.woff') format('woff'),
         url('BEBAS___-webfont.ttf') format('truetype'),
         url('BEBAS___-webfont.svg#bebasregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.italic{
    font-style: italic;
}